<h5 class="deep-orange-text text-lighten-2 {{if field.isDeprecated "deprecated"}}">{{field.name}}</h5>
<h6 class="grey-text text-darken-1">{{field.description}}</h6>

{{#if field.argTypeName}}

    <span class="h6">@type:
        {{#link-to field.route field.argTypeName class="deep-orange-text text-lighten-2"}}
            {{#if field.isList}}
                [{{field.argTypeName}}]
            {{else}}
                {{field.argTypeName}}
            {{/if}}
        {{/link-to}}
    </span>

{{/if}}


{{#if field.isRequired}}
    <br>
    <span class="h6">@required</span>
{{/if}}

{{#if field.isDeprecated}}
    <br>
    <span class="h6">@deprecated: {{field.deprecationReason}}</span>
{{/if}}

